*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(245,188,80);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page{
    width: 90vw;
    height: 87vh;
    background-color: white;
    display: flex;
    position: relative;
    overflow: hidden;
    /* margin-right: 4vw; */
}
#slider{
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: -60%;
    width: 39vw;
    height: 87vh;
    background-color: white;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    gap: 150px;
    text-align: left;
    padding-left: 100px;
    padding-top: 60px;
    transition: all linear;
}
#slider1 img{
    width: 100px;
    height: 60px;
}
#slider2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#slider2 h1{
    text-transform: capitalize;
    cursor: pointer;
    padding: 5px 20px;
    width: fit-content;
    border-radius: 30px;
}
#slider2 h1:hover{
    color: wheat;
    background-color: blueviolet;
}
#slider3{
    display: flex;
    gap: 20px;
}
#slider3 i{
    font-size: 30px;
    cursor: pointer;
}
#slider3 i:hover{
    color: rgb(41, 104, 167);
}
#slider3 i:nth-child(1):hover{
    color: red;
}
#slider3 i:nth-child(5):hover{
    color: red;
}
#slider>img{
    position: absolute;
    top: -42%;
    right: -14%;
    rotate: -80deg;
    filter: drop-shadow(0px 15px 10px black);
    opacity: 0;
}

#slidermousemove{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    transition: all linear .2s;
}

#left{
    width: 45vw;
    height: 100%;
    background-color: rgb(80, 80, 167);
    position: relative;
    z-index: 9999;
}
#left img{
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
    rotate: -40deg;
    filter: drop-shadow(9px 20px 700px rgb(54, 46, 46));
    filter: brightness(1.1);
}
#left>h1{
    position: absolute;
    top: 7%;
    left: 30%;
    font-size: 25px;
    padding: 36px 17px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.475);
    color: white;
}
#lbtmtext{
    position: absolute;
    top: 80%;
    right: 10%;
    text-align: right;
    color: #ffffffbd;
    text-transform: capitalize;
    cursor: pointer;
}
#lbtmtext h2{
    text-transform: capitalize;
    cursor: pointer;
}
#lnav{
    position: relative;
    width: 8vw;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 230px;
    padding-top: 20px;
}
#lnav1 img{
    position: relative;
    top: 00%;
    width: 120px;
    height: 80px;
    rotate: 0deg;
}
#lnav2{
    position: relative;
    rotate: -90deg;
    z-index: 9999999;
}
#lnav2 i{
    font-size: 35px;
    z-index: 99999999;
    cursor: pointer;
}
#lnav3{
    width: 200px;
    height: 50px;
    /* background-color: antiquewhite; */
    position: relative;
    overflow: hidden;
    rotate: -270deg;
    display: flex;
    justify-content: center;
    gap: 15px;
    z-index: 9999;
}
#lnav3 i{
    font-size: 22px;
    rotate: -90deg;
    cursor: pointer;
}
#lnav3 i:hover{
    color: rgb(54, 120, 202);
}
#lnav3 i:nth-child(1):hover{
    color: red;
}
#lnav3 i:nth-child(5):hover{
    color: red;
}
#lnavtext{
    position: absolute;
    overflow: hidden;
    bottom: 10%;
    rotate: 270deg;
}
#lnavtext>h1{
    position: relative;
    font-weight: 500;
    right: 210px;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#right{
    width: 49vw;
    height: 100%;
    background-color: rgb(242, 153, 57);
}
#r1{
    width: 100%;
    height: 29vh;
    background-color: bisque;
    display: flex;
    position: relative;
}
#r1l{
    width: 50%;
    height: 100%;
    background-color: rgb(207,188,226);
    position: relative;
}
#r1l img{
    position: absolute;
    top: -11%;
    left: -32%;
    scale: .5;
}
#r1ltext{
    position: relative;
    overflow: hidden;
    bottom: -76%;
    left: 5%;
    width: 300px;
    height: 40px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#r1ltext h2{
    position: absolute;
    top: -100px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.758);
}
#r1l>h1{
    position: absolute;
    top: 8%;
    left: 8%;
    font-size: 15px;
    padding: 12px 10px;
    border: 1px solid black;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    opacity: 0;
}
#r1r{
    width: 50%;
    height: 100%;
    background-color: rgb(245,229,170);
    position: relative;
}
#r1r img{
    position: absolute;
    top: -94%;
    left: -46%;
    scale: .49;
}
#r1rtext{
    position: relative;
    overflow: hidden;
    bottom: -76%;
    left: 5%;
    width: 300px;
    height: 40px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#r1rtext h2{
    position: absolute;
    top: -100px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.758);
}
#r1r>h1{
    position: absolute;
    top: 8%;
    left: 8%;
    font-size: 15px;
    padding: 12px 10px;
    border: 1px solid black;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    opacity: 0;
}
#r2{
    width: 100%;
    height: 29vh;
    background-color: rgb(248, 174, 84);
    display: flex;
}
#r2l{
    width: 50%;
    height: 100%;
    background-color: rgb(217, 217, 232);
    position: relative;
}
#r2l img{
    position: absolute;
    top: -28%;
    left: -78%;
    scale: 33%;
}
#r2ltext{
    position: relative;
    overflow: hidden;
    bottom: -78%;
    left: 5%;
    width: 300px;
    height: 40px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#r2ltext h2{
    position: absolute;
    top: -100px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.758);
}
#r2l>h1{
    position: absolute;
    top: 8%;
    left: 8%;
    font-size: 15px;
    padding: 12px 10px;
    border: 1px solid black;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    opacity: 0;
}
#r2r{
    width: 50%;
    height: 100%;
    background-color: rgb(245,198,203);
    position: relative;
}
#r2r img{
    position: absolute;
    top: -108%;
    left: -174%;
    scale: 17.5%;
}
#r2rtext{
    position: relative;
    overflow: hidden;
    bottom: -78%;
    left: 5%;
    width: 300px;
    height: 40px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#r2rtext h2{
    position: absolute;
    top: 00px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.758);
}
#r2r>h1{
    position: absolute;
    top: 8%;
    left: 8%;
    font-size: 15px;
    padding: 12px 10px;
    border: 1px solid black;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    opacity: 1;
}
#r3{
    width: 100%;
    height: 29vh;
    background-color: rgb(46, 103, 15);
    display: flex;
}
#r3l{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
#r3l h1{
    position: relative;
    top: 17%;
    left: 10%;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.650);
}
#r3l h1:nth-child(1){
    margin-right: 80px;
    cursor: pointer;
}
#r3l h1:nth-child(1):hover{
    color: rgb(141, 83, 233);
}
#r3l h1:nth-child(2){
    margin-top: -30px;
}
#r3l h1:nth-child(3){
    margin-left: 80px;
    margin-top: -30px;
}
#r3l i{
    position: absolute;
    top: 35%;
    left: 7%;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.650);
    cursor: pointer;
}
#r3l i:hover{
    color: rgb(141, 83, 233);
}
#r3r{
    width: 50%;
    height: 100%;
    background-color: rgb(217, 217, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-transform: capitalize;
}
#r3r h2{
    padding-bottom: 11px;
    cursor: pointer;
}
#r3r h2:hover{
    border-bottom: 3px solid rgb(139, 109, 187);
    color: rgb(139, 109, 187);
}
#r3r h1{
    padding-bottom: 10px;
    margin-bottom: 4px;
    cursor: pointer;
}
#r3r h1:hover{
    border-bottom: 3px solid rgb(139, 109, 187);
    color: rgb(139, 109, 187);
}
#rnav{
    width: 7vw;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 190px;
    padding-top: 40px;
}
#rnav1 img{
    width: 80px;
    height: 80px;
}
#rnav2{
    padding-bottom: 80px;
}
#rnav2 i{
    font-size: 30px;
}
#rnav3{
    rotate: -90deg;
    white-space: nowrap;
    margin-bottom: 100px;
}
#rnav3 h1{
    font-size: 20px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.649);
}